.App-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui;
  }
  
  .App-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #fefae0;
    width: 300px;
    height: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
  }
  
  .App-content {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .App-actions {
    margin-top: 8px;
    margin-bottom: 8px;
  }